<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>525412561327-qts86tu3c6h4de4qkovb5hh6iurc5p6d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.525412561327-qts86tu3c6h4de4qkovb5hh6iurc5p6d</string>
	<key>API_KEY</key>
	<string>AIzaSyAYK3l00OnRegkBVBMJLwh-drYKZqyjkOk</string>
	<key>GCM_SENDER_ID</key>
	<string>525412561327</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mybankapp</string>
	<key>PROJECT_ID</key>
	<string>noble-bank-64cd0</string>
	<key>STORAGE_BUCKET</key>
	<string>noble-bank-64cd0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:525412561327:ios:808a63ab489c00f2797f5a</string>
</dict>
</plist>